WebClient - Uri resolved without query params when path and query params are mixed.

I would expect the resolved uri to be the same in all four examples below. Instead, the query params are missing when path and query params are mixed when building requests.

## Environment Details
* Helidon Version: 4.0.6
* Helidon SE
* JDK version: 21
* OS: Mac OX x
* Docker version (if applicable):

----------

## Problem Description
See tests below. The test fails for `test1` and `test2`. Would expect the same result as for the other two tests.

## Steps to reproduce
```
private final String expected = "https://eu.example.com:443/a/b?q=one";

    @Disabled
    @Test
    void test1() {
        var uri = WebClient.create()
                .get()
                .uri("https://eu.example.com/{path}/b")
                .pathParam("path", "a")
                .queryParam("q", "one")
                .resolvedUri();
         // actual: "https://eu.example.com/a/b"
        assertEquals(expected, uri.toString());
    }

    @Disabled
    @Test
    void test2() {
        var uri = WebClient.create()
                .get()
                .uri("https://{region}.example.com/a/b")
                .pathParam("region", "eu")
                .queryParam("q", "one")
                .resolvedUri();
        // actual: "https://eu.example.com/a/b"
        assertEquals(expected, uri.toString());
    }

    @Test
    void test3() {
        var uri = WebClient.create()
                .get()
                .uri("https://eu.example.com/a/b")
                .queryParam("q", "one")
                .resolvedUri();
        assertEquals(expected, uri.toString());
    }

    @Test
    void test4() {
        var uri = WebClient.create()
                .get()
                .uri("https://{region}.example.com/a/b?q={q}")
                .pathParam("region", "eu")
                .pathParam("q", "one")
                .skipUriEncoding(true)
                .resolvedUri();
        assertEquals(expected, uri.toString());
    }
```



Oops, I just realised the @Verdent was assigned. I had started looking into this out of curiosity and never refreshed the tab with the issue open before creating a PR. I hope I didn't step on anyone's toes. Otherwise, the PR can be ignored with apologies to @Verdent.

@VerKWer This is absolutely fine. If you found a solution, just create PR and assign me as a reviewer :-)

Glad to hear it :). I'm not sure I have the rights to assign reviewers. The PR is #8614, linked to this issue.

While looking into this, I noticed that the `ClientUri.resolve(URI)` method has some unintuitive logic to it (at least for my understanding). It seems to be a mixture of "normal" URI resolution (according to [RFC3986, Section 5.2](https://www.rfc-editor.org/rfc/rfc3986#section-5.2)) and something more useful when constructing URIs.

If the provided URI is absolute, the existing query parameters are cleared and replaced by the ones from the provided URI. Otherwise, the query parameters are merged. Clearly, merging the query parameters can be useful when constructing URIs but I'm puzzled by the exception for absolute paths. As far as I can tell from looking at the RFC, whether the path is absolute has no influence on the resolved query parameters.

Maybe @tomas-langer has some insights here, having written the original `ClientUri`?